<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Estudiante</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Great+Vibes&family=Joan&family=Merriweather:wght@300;700;900&family=Nunito:wght@200;300;400;700&family=Open+Sans:ital,wght@0,500;0,600;1,400&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>

<section class="EditarEst">
    <span class="TituloEditarEst">
        <h1>Editar estudiante</h1>
    </span>

    <div class="EditarDatosEst">

        <form class="Edi" method="POST">
            <div class="container-Estud">
                {{forestudiante}}
            </div>

            <div class="botones">
                <button class="hero-btn-2" type="submit">Guardar</button>
            </div>

    {% csrf_token %}
</form>

</body>
</html>